@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition-duration-fast: 0.2s;
    --transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
    cursor: default;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    user-select: none;
}

body {
    color: var(--semi-color-text-0);
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
}

/*  chatGpt 生成 */
/* For Webkit browsers (Chrome, Safari) */

/* 滚动条整体样式 */
::-webkit-scrollbar {
    width: 4px; /* 你可以根据需要调整宽度 */
    background-color: transparent; /* 轨道透明 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 2px; /* 半径为滑块宽度的一半 */
    background-color: var(--semi-color-disabled-text); /* 半透明的灰色 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* For Firefox */

/* 滚动条整体样式 */
scrollbar {
    width: 4px;
    background-color: transparent;
}

/* 滚动条滑块 */
scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--semi-color-disabled-text);
}

/* 滚动条轨道 */
scrollbar-track {
    background-color: transparent;
}

/* 修改semi默认的css */
.semi-table-tbody > .semi-table-row {
    display: table-row;
    background-color: var(--semi-color-bg-0);
}

.semi-table-thead > .semi-table-row > .semi-table-row-head {
    background-color: var(--semi-color-bg-0);
    color: var(--semi-color-text-2);
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid var(--semi-color-border);
    padding: 8px 16px;
    vertical-align: middle;
    overflow-wrap: break-word;
    position: relative;
}
