@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-duration-fast: 0.2s;
  --transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  cursor: default;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  user-select: none;
}

body {
  color: var(--semi-color-text-0);
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  overflow: hidden;
}

/* For Webkit browsers (Chrome, Safari) */

/* 滚动条整体样式 */
::-webkit-scrollbar {
  width: 4px; /* 宽度 */
  background-color: transparent; /* 轨道透明 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 2px; /* 半径为滑块宽度的一半 */
  background-color: var(--semi-color-disabled-text); /* 半透明的灰色 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Firefox */

/* 滚动条整体样式 */
scrollbar {
  width: 4px;
  background-color: transparent;
}

/* 滚动条滑块 */
scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--semi-color-disabled-text);
}

/* 滚动条轨道 */
scrollbar-track {
  background-color: transparent;
}

/* 修改 semi 默认的 css */
.semi-table-tbody > .semi-table-row {
  display: table-row;
  background-color: var(--semi-color-bg-0);
}

.semi-table-header-sticky .semi-table-thead > .semi-table-row > .semi-table-row-head {
  background-color: var(--semi-color-bg-0);
}

.custom-card:hover {
  border-color: var(--semi-color-fill-1);
  border-style: solid;
}

.custom-card:active {
  border-color: var(--semi-color-fill-2);
  border-style: solid;
}

.semi-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--semi-color-overlay-bg);
  height: 100%;
  z-index: 1000;
  border-radius: 8px;
}
